extends ./layouts/layout-common
block content
	p= message
block foot
	div magaofdsffdsfd
		p 我真的成功了
	include:markdown ./text/jade-book.md
	//- script(src="/js/plugins/jquery.min.js")
	script(type='text/javascript').
		document.write(unescape("%3Cscript src='" + ("https" == location.protocol ? "https://" : "http://") + (location.host || 'localhost').split(':')[0] + ":35729/livereload.js?snipver=1' type='text/javascript' %3E%3C/script%3E"));
			

	