doctype default
html(lang="zh-CN")
	head
		title #{title}
		meta(charset="UTF-8")
		link(rel='stylesheet', type='text/css', href='/css/public/common.less')
		link(rel='stylesheet', type='text/css', href='/css/public/base.less')
		link(rel='stylesheet', type='text/css', href='/css/public/css.css')
		block hdScripts
	body
		block content
		block foot
		block ftScript

