doctype default
html(lang="zh-CN")
	head
		title #{title}
		meta(charset="UTF-8")
		link(rel='stylesheet', type='text/css', href='/css/public/common.min.css')
		link(rel='stylesheet', type='text/css', href='/css/public/base.min.css')
		block hdScripts
	body
		block content
		block foot
		block ftScript	
